{extend name="common/base"/}

{block name="content"}

<!-- 标题 -->
<div class="main-title">
    <h2>
        新闻列表
    </h2>
</div>

<!-- 按钮工具栏 -->
<div class="cf" >
    <div class="fl">
        <a class="btn" href="{:url('News/addNews')}">添 加</a>
    </div>
</div>

<!-- 数据表格 -->
<div class="data-table">
    <table class="">
        <thead>
        <tr>
            <th class="">编号</th>
            <th class="">标题</th>
            <th class="">所属分类</th>
            <th style="display:none">URL</th>
            <th class="">排序</th>
            <th class="">状态</th>
            <th class="">最后更新</th>
            <th class="">创建时间</th>
            <th class="">操作</th>
        </tr>
        </thead>
        <tbody>
        {notempty name="list"}
        {volist name="list" id="item"}
        <tr>
            <td>{$item['_id']}</td>
            <td>{$item['title']}</td>
            <td>{$cate_list[$item['cate_id']] ? $cate_list[$item['cate_id']] : ''}</td>
            <td style="display:none"><a href="{:url('index/News/index',['cid'=>$item['cate_id'],'id'=>$item['_id']],true,true)}" target="_blank">{:url('index/News/index',['cid'=>$item['cate_id'],'id'=>$item['_id']],true,true)}</a></td>
            <td>{$item['sort'] ? $item['sort'] : '0'}</td>
            <td>{$item['status']==1 ? '<font color="red">禁用</font>' : '<font color="green">启用</font>'}</td>
            <td>{:getDateFromTimestamp($item['updateAt'])}</td>
            <td>{:getDateFromTimestamp($item['createAt'])}</td>
            <td>
                <a href="{:url('News/editNews',['id'=>$item['_id']])}">编辑</a>
                <a href="{:url('News/delNews',['id'=>$item['_id']])}" class="confirm ajax-get">删除</a>
            </td>
        </tr>
        {/volist}
        {/notempty}
        </tbody>
    </table>
</div>

<!-- 分页 -->
<div class="page">
    {$page ? $page : ''}
</div>

{/block}