<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<link href="/admin/img/favicon.ico" type="image/x-icon" rel="shortcut icon">
<link rel="stylesheet" type="text/css" href="/admin/css/base.css" media="all">
<link rel="stylesheet" type="text/css" href="/admin/css/common.css" media="all">
<link rel="stylesheet" type="text/css" href="/admin/css/module.css">
<link rel="stylesheet" type="text/css" href="/admin/css/style.css" media="all">
<link rel="stylesheet" type="text/css" href="/admin/css/default_color.css" media="all">
<script type="text/javascript" src="/admin/js/jquery-2.js"></script>
<script type="text/javascript" src="/admin/js/jquery-mouse-wheel.js"></script>